body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 5%;
    margin-left: 5%;
    background-color: rgb(20, 20, 20);
}
#menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-item {
    color: white;
    font-size: 42px;
    text-decoration: none;
    font-family: "Ibarra Real Nova", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
